@using DataEntities
@using Store.Services
@inject ProductService ProductService
@inject NavigationManager Nav
@inject IHttpContextAccessor HttpContextAccessor
@attribute [StreamRendering]

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" rel="stylesheet" />
    <link href="_content/Blazor.Bootstrap/blazor.bootstrap.css" rel="stylesheet" />
</head>

<div class="catalog-item">
    <a class="catalog-product" href="@ProductItemURL" data-enhance-nav="false">
        <span class='catalog-product-image'>
            <img alt="@product.Name" src='images/@product.ImageUrl' />
        </span>
    </a>
    <div @key="@product.Id">
        <form method="post" data-enhance>
            <input type="hidden" name="_handler" value="@FormName" />
            <span class='catalog-product-content'>
                <span class='name'>@product.Name</span>
                <span class='price'>$@product.Price.ToString("0.00")</span>
                <AntiforgeryToken />
                <!--<button Color="ButtonColor.Primary" type="submit"><Icon Name="IconName.HandThumbsUpFill"/>-->
                <button class="btn btn-light" type="submit">
                    <Icon Name="IconName.HandThumbsUpFill" />
                </button>
            </span>
        </form>
    </div>   
</div>
<form @formname="@FormName" @onsubmit="@VoteProductAsync"></form>

@code {
    [Parameter, EditorRequired]
    public required Product product { get; set; }

    private string ProductItemURL => $"/product/{product.Id}";

    private string FormName => $"like-{product.Name}";

    private async Task VoteProductAsync()
    {
        Console.WriteLine("liking product");
        await ProductService.PostProductRankingAsync(product.Id);
    }
}